.abt-main{
    margin-top: 40px;
    margin-left: 80px;
    /* max-height: 110rem; */
    background-color: rgb(7, 2, 2);
    max-width: 75rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px){

    .abt-main {
        margin-left: 10px;
        margin-right: 5px;
    }

}

.link-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(31, 11, 11);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.abt-img {
    height: 180px;
    width: 160px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 15px;
}


.abt-content{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.main-text{
    font-size: 22px;
    /* font-family: "Pacifico", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    color: white;

}

.icons-df {
    height: 35px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.tools-ds {
    height: auto;
    max-width: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* margin-left: 260px; */
    text-align: center;
    margin-left: 120px;
}

.educ-name{
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.com-info {
    font-size: 20px;
    /* font-family: "Pacifico", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    color: white;
}

@media screen and (max-width: 400px){
    .abt-img {
        height: 140px;
        width: 120px;
    }
    .abt-img img {
        height: 100%;
        width: 100%;
    }
    .abt-content {
        font-size: 30px;
    }
    .tools-ds{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    
}

  
  .intern-p {
    font-size: 30px;
    font-weight: 650;
    font-family: "Josefin Sans", sans-serif;

  }

  .role {
    font-size: 23px;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
  }

  .intern-box{
    height: auto;
    width: 350px;
    padding: 10px;
    background-color: rgb(49, 49, 49);
  }

  .company{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
  }

  .job {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }

  .contact{
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;

  }