.blog{
    font-size: 65px;
    text-align: center;
    font-weight: 750;
    font-family: "Josefin Sans", sans-serif;
}

.line {
    height: 3px;
    width: 60%;
    background-color: white;
    margin: auto;
    margin-top: 25px;
}

.icongf{
    height: 40px;
    width: 40px;
    background-color: rgb(54, 49, 49);
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog1 {
    height: 150px;
    width: 330px;
    background-color: rgb(31, 24, 24);
    margin: 40px;
    border-radius: 5px;
    padding: 10px;
}

.admin-pic{
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
    border-radius: 50%;
}

.admin-name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    cursor: pointer;

}

.admin-details{
    display: flex;
    align-items: center;
    gap: 30px;
}
.end{
    text-align: center;
    color: blueviolet;
}









@media screen and (max-width: 430px){
    .blog {
        font-size: 30px;
    }
    .blog1 {
        width: 320px;
        height: 140px;
    }
}